* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background-color: red;
}

::selection {
  color: white;
  background-color: red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 20vh;
  padding-bottom: 10vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3c1d14;
  padding-top: 60px;
  background: url('../public/assets/bgvideo.gif') no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll; /* Ensure vertical scrolling */

  /* Custom Scrollbar for Webkit Browsers */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: bisque #282020; /* For Firefox */
}

.container {
  background-color: #222222;
  color:burlywood;
  font-family: 'Courier New', Courier, monospace;
  width: 70vw;
  max-width: 1500px;
  min-height: 70vh;
  margin: 80px auto 0 auto;
  padding: 3rem;
  position: relative;
  border: medium outset #1a1a1a;
  z-index: 2;

  a:link {
    color: red;
  }
  a:visited {
    color: red;
  }
  a:hover {
    color: orange;
  }
  a:active {
    color: black;
  }
}

.containerwrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.container::before {
  content: "";
  position: absolute;
  top: -64px;
  left: -64px;
  width: 128px;
  height: 128px;
  background: url("../public/assets/gear.gif") no-repeat center/contain;
  z-index: 1;
}

.nefarious {
  font-size: 150px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-weight: 500;
  top: 50%;
}

.lessnefarious {
  font-size: 100px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-weight: 500;
  top: 50%;
}

.littlenefarious {
  font-size: 75px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-weight: 500;
  top: 50%;
}

.subheading {
  font-size: xx-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  color: indianred;
}

.smallheading {
  font-size: larger;
  font-weight: bold;
}

.center {
  font-size: larger;
  text-align: justify;
  text-align-last: center;
}

.underconstruction {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-size: xx-large;
}

.description {
  text-align: justify;
}

.fiery {
  text-transform: uppercase;
  background: url('../public/assets/fire.gif') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
}

.headerBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222222;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  font-weight: 0;
  font-stretch: expanded;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: medium solid #1a1a1a;
}

.headerLink {
  color: burlywood;
  text-decoration: none;
  margin: 0 15px;
}

.headerLink:hover {
  background: url('../public/assets/fire.gif') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
}

.PortfolioItem {
  display: flex;
  align-items: flex-start;
  height: 150px;
  border: medium inset #1a1a1a;
  padding: 10px;
  margin-top: 20px;

  .pTitle {
    font-size: xx-large;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .pTitle:hover {
    background: url('../public/assets/fire.gif') repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover;
  }

  .pImageWrapper {
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    flex-shrink: 0;
  }

  .pImage {
    width: 128px;
    height: 128px;
    display: block;
    object-fit: cover;
  }

  .textcontainer {
    margin-left: 20px;
    ;
  }
}

.bigpicturelink {
  display: flex;
  align-items: flex-start;
  height: 150px;
  border: medium inset #1a1a1a;
  padding: 10px;
  margin-top: 20px;

  .pTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .pImageWrapper {
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    flex-shrink: 0;
  }

  .pImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .textcontainer {
    margin-left: 20px;
    ;
  }
}

.gallery {
  display: block;
  align-items: center;
}

.gallery-item {
  border: inset dimgray 2px;
  max-height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.big-family-tree {
  border: inset dimgray 2px;
  max-height: 1500px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}